{% extends 'base.html.twig' %}

{% block styleSheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/question_show.css') }}">
{% endblock %}
{% block title %}{{ question.title }}{% endblock %}

{% block body %}
    <div class="block">
        <div class="pb-20 d-flex flex-row-nowrap align-item-center">
            <h3>{{ question.title }}</h3>
            <div class="question-tag">QUESTION</div>
            <img class="avatar ml-auto" src="https://randomuser.me/api/portraits/men/10.jpg">
        </div>
        <p class="question-text">{{ question.content }}</p>
        <div class="separator"></div>
        <h3 class="pb-20">Votre réponse</h3>
        <div class="comment-form">
            {{form_start(form)}}
                {{form_rest(form)}}
                <button class="btn btn-primary">Soumettre</button>
            {{form_end(form)}}
        </div>
    </div>
{% endblock %}