<header class="d-flex flex-no-nowrap justify-content-center p-20">
    <div class="content flex-fill d-flex flex-no-nowrap justify-content-between align-item-center ">
        <a class="header-logo" href="{{ path('app_home') }}">
            <img src="{{ asset('/build/images/logo.svg') }}" alt="Logo" >
        </a>
        <div id="search" class="header-search p-10 flex-fill d-flex flex-no-nowrap align-item-center">
            <i class="fa-sharp fa-solid fa-magnifying-glass mr-10"></i>
            <input @input="updateInput" ref="input" type="text" class="flex-fill">
            <img v-if="isLoading" src="{{ asset('build/images/loading.gif') }}" class="header-search-loading">
            <ul v-if="questions?.length" class="header-search-result d-flex flex-column">
                <a v-for="question in questions" :key="question.id" :href="'/question/' + question.id" class="header-search-link">
                    ${ question.title }$
                </a>
            </ul>
        </div>
        <div>
            {% if is_granted('IS_AUTHENTICATED_FULLY')  %}
                <div class="d-flex flex-row-nowrap align-item-center justify-content-between xs-hide">
                    <a href="{{ path('current_user') }}"><img src="{{ app.user.picture }}" alt="photo de profile" class="mr-10 avatar"></a>
                    <span class="mr-10">Bienvenue, {{ app.user.firstname }}</span>
                    <a href="{{ path('logout') }}" class="btn btn-primary">Déconnexion</a>
                </div>
            {% else %}
                <a href="{{ path('signup') }}" class="btn btn-primary mr-5 xs-hide">Inscription</a>
                <a href="{{ path('login') }}" class="btn btn-primary-stroke xs-hide">connexion</a>
            {% endif %}
            <div class="show-xs burger">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>

    </div>
</header>

<div class="menu-xs d-flex flex-column hidden">
    {% if is_granted('IS_AUTHENTICATED_FULLY')  %}
        <a href="{{ path('current_user') }}" class="btn btn-primary">Profil</a>
        <a href="{{ path('logout') }}" class="btn btn-primary-stroke">Déconnexion</a>
    {% else %}
        <a href="{{ path('signup') }}" class="btn btn-primary mr-5 xs-hide">Inscription</a>
        <a href="{{ path('login') }}" class="btn btn-primary-stroke xs-hide">connexion</a>
    {% endif %}
</div> 

