<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block styleSheets %}
            <link rel="shortcut icon" href="{{ asset('favicon.ico.png') }}" type="image/x-icon">
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="preconnect" href="https://fonts.googleapis.com"> 
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
            <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="d-flex flex-column">
        {{ include('partials/_header.html.twig') }}
        <div class="app-content flex-fill d-flex flex-row-nowrap justify-content-center">
            <div class="content-main content d-flex flex-row-nowrap flex-fill flex-xs-column">
                {{ include('partials/_sidebar.html.twig') }}
                <div class="flex-fill ">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        {% for cat, list in app.flashes %}
            {% for message in list %}
                <div class="flash flash-{{ cat }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}
        {{ include('partials/_footer.html.twig') }}
    </body>
</html>
