{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}

    <div class="block mb-30">

        <h1 class="pb-30">Mon Profil</h1>

        {{ form_start(form) }}
            {{ form_rest(form) }}
            <button type="submit" class="btn btn-primary">Modifier</button>
        {{ form_end(form) }}

    
    </div>

    <div class="block mb-20">
    
        <h3 class="pb-30">Mes questions :</h3>
        
        <ul>
            {% for question in app.user.questions %}
                <li>{{ question.title }}</li>
            {% endfor %}
        </ul>
    
    </div>

    <div class="block">
    
        <h3 class="pb-30">Mes réponses :</h3>
        
        <ul>
            {% for comment in app.user.comments %}
                <li>{{ comment.content | slice(0, 50) }} .....</li>
            {% endfor %}
        </ul>
    
    </div>

{% endblock %}
